on boot
    # UART device
    chmod 0660 /dev/ttyS1
    chown bluetooth net_bt_admin /dev/ttyS1

    # bluetooth power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill0/type
    write /sys/class/rfkill/rfkill0/state 1
    write /sys/class/rfkill/rfkill0/state 0

    # bluetooth MAC address programming
    mkdir /data/misc/bluedroid 0770 bluetooth net_bt_admin
    chown bluetooth net_bt_admin /system/etc/bluetooth
    chown bluetooth net_bt_admin /data/misc/bluetooth
    chown bluetooth net_bt_admin ro.bt.bdaddr_path
    setprop ro.bt.bdaddr_path "/sys/class/addr_mgt/addr_bt"

# bluetooth LPM
on property:persist.vendor.overlay.wlan.vendor=xradio
    insmod /system/vendor/modules/xradio_btlpm.ko
    insmod /system/vendor/modules/xradio_btfdi.ko
    mkdir /data/vendor/bluetooth 0771 bluetooth bluetooth
    mkdir /data/vendor/bluetooth/sdd 0770 bluetooth bluetooth
    mkdir /data/vendor/bluetooth/fdi 0770 bluetooth bluetooth
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwake

on property:persist.vendor.overlay.wlan.vendor=realtek
    insmod /system/vendor/modules/rtl_btlpm.ko
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwake

on property:persist.vendor.overlay.wlan.vendor=broadcom
    insmod /system/vendor/modules/bcm_btlpm.ko
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwake

on property:persist.vendor.overlay.wlan.vendor=realtek
    setprop persist.bluetooth.rtkcoex true
    setprop bluetooth.enable_timeout_ms 11000

on property:sys.boot_completed=1
    setprop persist.vendor.bluetooth.rtkcoex true
on property:sys.boot_completed=0
    setprop persist.vendor.bluetooth.rtkcoex false

